div#main {
    width: 70%;
    margin: auto;
}

div#nav {
    background-color: blueviolet;
    width: 250px;
    border: 2px solid black;
    border-radius: 50%;
}

h1 {
    text-align: center;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    animation-name: animacio;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animacio {
    0% {
        background-color: grey;
    }

    25% {
        background-color: rgb(121, 81, 81);
    }

    50% {
        background-color: rgb(133, 51, 51);
    }

    100% {
        background-color: rgb(112, 3, 3);
    }
}

h3 {
    text-align: center;
}

li a {
    text-decoration: none;
    padding: 5px;
    display: block;
    width: 150px;
    text-align: center;
    color: black;
}

li a:hover {
    background-color: grey;
    border-radius: 50%;
}