.menu-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-li{
    margin-right: 50px;
}

.nav-link {
    color: black
}

.nav-link:hover {
    color: black;
}