body {
    background-color: palegoldenrod;
}

h1 {
    padding-left: 50px;
}

.menu-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.menu-li{
    margin-right: 30px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.61);
    border-radius: 50%;
}

a {
    font-weight: bold;
}

section#home {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

p {
    text-align: center;
}

h3 {
    padding: 20px 0 20px 0;
    text-align: center;
}

section#img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-bottom: 50px;
}

img {
    width: 30%;
}
