body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 2em;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: auto;
    background-color: #DFFFE2;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    margin: 0px;
}

.footerh {
    margin: 20px 0 0 0;
}
