 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #D7B520;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
 }

 #body {
     width: 80%;
     margin: auto;
     border: 2px solid #ddd;
     background-color: #fff;
 }

 header {
     background-image: url(../img/strand.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: 100%;
     padding-bottom: 300px;
     margin-left: 35px;
     margin-right: 35px;
 }

 h1 {
     text-align: center;
     padding: 50px 0 50px 0;
 }

 aside {
     margin-left: 40px;
     width: 30%;
     border: 1px solid black;
     border-radius: 10px;
     float: left;
 }

 nav {
     width: 50%;
     /* margin: auto; */
     padding-top: 15px;
     padding-bottom: 15px;
 }

 ul {
     list-style-type: none;
     padding: 0;
 }

 li a {
     width: 50%;
     text-decoration: none;
     display: block;
     padding: 5px;
     color: black;
     border: 1px solid black;
 }

 li a:hover {
     background-color: grey;
 }

 h2 {
     content: "";
     clear: both;
     display: table;
     padding-top: 30px;
     padding-bottom: 30px;
 }


 h4 {
     padding-bottom: 5px;
 }

 label#nev {
     padding-right: 30px;
 }

 label#e-mail {
     padding-right: 25px;
 }

 label#telefon {
     padding-right: 16px;
 }

 button {
     width: 20%;
     padding: 5px;
     margin-bottom: 10px;
     margin-top: 10px;
 }

 form {
     padding: 5px;
 }

 textarea {
     width: 278px;
     height: 106px;
 }

 img {
     padding-right: 10px;
     width: 40%;
     float: left;
 }

 section {
     width: 700px;
     margin-left: 430px;
     padding-left: 10px;
     padding-right: 150px;
     border: 1px solid black;
     border-radius: 10px;
 }

 #tisza {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 h3 {
     text-align: center;
 }

 p {
     padding: 5px 0px 5px 0;
 }

 footer {
     margin-top: 50px;
     margin-left: 35px;
     margin-right: 35px;
     padding-bottom: 150px;
     /* background-color: blue; */
     border: 1px solid black;
     border-radius: 10px;
 }