* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFE7DA;
    font-family: "Roboto", sans-serif;
}

.contener {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1yr);
    width: 80%;
    margin: auto;
}

header {
    height: 300px;
    margin-top: 15px;
    background-image: url(../img/fejlec_hatter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 65%;
    grid-column: 1/6;
    border-radius: 10px;
}

/*Főoldal*/

h1 {
    text-align: center;
    padding: 150px 0 0 200px;
    font-size: 30px;
    color: #f3a839;
    font-family: "Sofia", sans-serif;
}

h1::first-letter {
    font-size: 70px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    grid-column: 1/6;
    grid-row: 2;
    padding: 40px 0 100px 0;

}

nav a {
    font-size: 18px;
    padding: 10px;
    -webkit-box-shadow: 5px 1px 15px 5px #000000;
    box-shadow: 5px 1px 15px 5px #000000;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
}

nav a:hover {
    background-color: grey;
}


h2 {
    text-align: center;
}

section {
    grid-row: 3;
    grid-column: 3/5;
    background-color: #f0e1cb;
    border-radius: 10px;
    border: 4px solid #f2d5a9;
}



section p {
    text-align: center;
}

aside {
    grid-row: 3;
    grid-column: 1;
    background-color: #f0e1cb;
    border-radius: 10px;
    border: 4px solid #f2d5a9;
}

aside h2 {
    padding-bottom: 15px;
}

td {
    padding: 0 10px 5px 0;
}


.gallery {
    grid-row: 5;
    grid-column: 1/5;
    padding-top: 100px;
}

.slider {
    width: 70%;
    height: 500px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0px 0px 10px 3px grey;
    overflow: hidden;
    border: 5px solid #f2d5a9;
}

.slider figure {
    margin: 0px;
    position: relative;
    width: 500%;
    left: 0px;
    transition: 1s ease-in-out;
}

.slider figure img {
    width: 10%;
    float: left;
}


.btn-next,
.btn-prev {
    position: absolute;
    top: 45%;
    cursor: pointer;
    color: white;
    background-color: #f2d5a9;
    padding: 10px;
    font-size: 30px;
    border: none;
}

.btn-next {
    right: 0px;
}

.btn-prev {
    left: 0px;
}


/*Főoldal vége*/

/*Szolgáltatások oldal*/


img {
    float: left;
    width: 30%;
    padding: 0 15px 15px 15px;
}

h3 {
    padding: 10px 0 15px 0;
    text-align: center;
}

.service {
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    border: 4px solid #f2d5a9;
}

.service p {
    text-align: justify;
    padding: 5px 10px 5px 10px;
}

#service_nail_1 {
    grid-column: 1/6;
    grid-row: 4;
    border: 4px solid #f2d5a9;
}

#service_nail_1 p {
    padding-top: 50px;
}

#service_nail_2 {
    grid-column: 1/6;
    grid-row: 5;
    border: 4px solid #f2d5a9;
}

#service_nail_2_p1 {
    padding-top: 30px;
}

#service_nail_3 {
    grid-column: 1/6;
    grid-row: 6;
    border: 4px solid #f2d5a9;
}

#service_nail_3_p1 {
    padding-top: 30px;
}

#service_nail_4 {
    grid-column: 1/6;
    grid-row: 7;
    border: 4px solid #f2d5a9;
}



/*Szolgáltatások oldal vége*/

/* Elérhetőslgek oldal*/

form {
    grid-column: 3;
    grid-row: 3;
    /* border: 4px solid #f2d5a9; */
    margin: auto;
}

form h3 {
    padding-bottom: 50px;
}

h4 {
    padding: 10px 0 5px 0;
}

#label_name {
    padding-right: 71px;
}

#name {
    width: 250px;
}

#label_email {
    padding-right: 25px;
}

#e-mail {
    width: 250px;
}

#label_tel {
    padding-right: 8px;
}

#telephone {
    width: 250px;
}

#massage {
    width: 370px;
    height: 177px;
}

button {
    padding: 5px;
}

footer {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

iframe {
    width: 100%;
    margin: auto;
    height: 200px;
}


/* Elérhetőslgek oldal vége*/



@media screen and (max-width:768px) {
    /* .contener {
        width: 100%;
    } */

    .nail {
        margin-left: 0;
        margin-right: 0;
    }
}