* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFE7DA;
    font-family: "Roboto", sans-serif;
}

.contener {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1yr);
    width: 80%;
    margin: auto;
}

header {
    height: 300px;
    margin-top: 15px;
    background-image: url(../img/fejlec_hatter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 65%;
    grid-column: 1/6;
    border-radius: 10px;
}

/*Főoldal*/

h1 {
    text-align: center;
    padding: 150px 0 0 0;
    font-size: 40px;
    font-family: "Sofia", sans-serif;
}

h1::first-letter {
    font-size: 70px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    grid-column: 1/6;
    grid-row: 2;
    padding: 40px 0 100px 0;

}

nav a {
    font-size: 18px;
    padding: 10px;
    -webkit-box-shadow: 5px 1px 15px 5px #000000;
    box-shadow: 5px 1px 15px 5px #000000;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
}

.display_none {
    display: none;
}

nav a:hover {
    background-color: grey;
}


h2 {
    text-align: center;
}

section {
    grid-row: 3;
    grid-column: 3/5;
    background-color: #f0e1cb;
    border-radius: 10px;
    border: 4px solid #f2d5a9;
}

section p {
    text-align: center;
    padding: 4px;
}

section h2 {
    padding-bottom: 15px;
}

aside {
    grid-row: 3;
    grid-column: 1;
    background-color: #f0e1cb;
    border-radius: 10px;
    border: 4px solid #f2d5a9;
}

aside h2 {
    padding-bottom: 15px;
}

td {
    padding: 0 10px 5px 0;
}

/*Galéria*/


.gallery {
    grid-row: 5;
    grid-column: 1/6;
    padding-top: 100px;
}

.gallery h2 {
    padding-bottom: 50px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}


.gallery-image {
    border: 3px solid #ddd;
    border-radius: 5px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}


.gallery-image:hover {
    transform: scale(1.05);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}


.modal-content img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}


.close {
   position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Galéria vége*/


/*Főoldal vége*/

/*Szolgáltatások oldal*/


img {
    float: left;
    width: 30%;
    padding: 0 15px 15px 15px;
}

h3 {
    padding: 10px 0 15px 0;
    text-align: center;
}

.service {
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    border: 4px solid #f2d5a9;
}

.service p {
    text-align: justify;
    padding: 5px 10px 5px 10px;
}

#service_nail_1 {
    grid-column: 1/6;
    grid-row: 3;
    border: 4px solid #f2d5a9;
}

#service_nail_1 p {
    padding-top: 50px;
}

#service_nail_2 {
    grid-column: 1/6;
    grid-row: 4;
    border: 4px solid #f2d5a9;
}

#service_nail_2_p1 {
    padding-top: 30px;
}

#service_nail_3 {
    grid-column: 1/6;
    grid-row: 5;
    border: 4px solid #f2d5a9;
}

#service_nail_3_p1 {
    padding-top: 30px;
}

#service_nail_4 {
    grid-column: 1/6;
    grid-row: 6;
    border: 4px solid #f2d5a9;
}



/*Szolgáltatások oldal vége*/

/* Elérhetőslgek oldal*/

form {
    grid-column: 3;
    grid-row: 3;
    /* border: 4px solid #f2d5a9; */
    margin: auto;
}

form h3 {
    padding-bottom: 50px;
}

h4 {
    padding: 10px 0 5px 0;
}

#label_name {
    padding-right: 71px;
}

#name {
    width: 250px;
}

#label_email {
    padding-right: 25px;
}

#e-mail {
    width: 250px;
}

#label_tel {
    padding-right: 8px;
}

#telephone {
    width: 250px;
}

#massage {
    width: 370px;
    height: 177px;
}

button {
    padding: 5px;
}

footer {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

iframe {
    width: 100%;
    margin: auto;
    height: 200px;
}


/* Elérhetőslgek oldal vége*/



@media screen and (max-width:768px) {
    .contener {
        width: 100%;
    }

    header {
        margin: 0;
        padding: 0;
    }

    h1 {
        padding: 180px 0 0 0;
        font-size: 30px;
    }

    nav a {
        padding: 3px;
    }

    .modal-content {
        position: static;
    }
    .modal-content img {   /*ez a nagyban megjelenő, finomítani kell még*/
        width: 200%;
    }

    .close {
        position: static;
    }

    /* .display_none {
        display: block;
    }
     */

    section {
        grid-column: 1/6;
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }

    aside {
        grid-row: 4;
        grid-column: 1/6;
        width: 90%;
        margin: auto;
    }

    .service {
        margin: auto;
    }

    img {
        width: 100%;
    }

    form {
        margin: auto;
        width: 90%;
    }

    #massage {
        width: 300px;
    }

}