* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #D7B520;
}

.content {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    background-color: #FFF;
    border-radius: 10px;
}

header {
    grid-column: 1/5;
    background-image: url(../img/strand.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    padding: 150px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

nav {
    width: 40%;
    margin: auto;
    grid-column: 1/5;
   
}

a {
    float: left;
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #E7E6E6;
    font-size: 20px;
}

a:hover {
    background-color: grey;
    border-radius: 10px;
}

aside {
    border: 2px solid black;
    border-radius: 10px;
    grid-row: 3/6;
    background-color: #5B9BD5;
}

div {
    padding: 5px;
}

form {
    padding: 5px;
}

input#name {
    width: 200px;
}

label b {
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

button {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {
    padding-bottom: 5px;
}



section {
    border: 2px solid black;
    border-radius: 10px;
}

#sc_one {
    grid-column: 2/5;
    background-color: #FBE5D6;
}

#sc_one p {
    padding: 10px 10px 10px 10px;
}

#sc_two {
    grid-column: 2/5;
    background-color: #FFF2CC;
}

#sc_two p {
    padding: 40px 10px 10px 10px;
}

#sc_three {
    grid-column: 2/5;
    background-color: #DEEBF7;
}

#sc_three p {
    padding: 30px 10px 10px 10px;
}

h3 {
    text-align: center;
    padding: 10px 0 10px 0;
}

img {
    width: 20%;
    float: left;
    padding: 10px;
}

p {
    text-align: justify;
}

footer {
    grid-column: 1/5;
    border: 2px solid black;
    border-radius: 10px;
    padding: 100px;
    background-color: #E7E6E6;
}

@media screen and (max-width:768px) {
    .content {
        width: 100%;
        background-color: #D7B520;
    }

    img {
        width: 40%;
    }

    h2 {
        padding-top: 35px;
    }

    nav {
        width: 100%;
    }

    #sc_one,
    #sc_two,
    #sc_three {
        grid-column: 1/5;
    }

    aside {
        grid-column: 1/5;
        grid-row: 6/7;
    }
}

@media (max-width: 768px) {
    h1 {
      text-align: center;
    }
  }